* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../img/Pattern.png);
  background-size: cover;
  background-position: top;
  height: 100vh; }

.container {
  height: 100vh; }

.header {
  text-align: center; }

.header__h1 {
  font-size: 3.6rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  color: #ffffff; }

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }

.card {
  width: 32rem;
  height: 48rem;
  border: 4px solid #1698d9;
  background: #f2f2f2;
  border-radius: 10px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 95%, 0% 6%);
  position: relative;
  background-image: url(/img/Photo.png);
  background-repeat: no-repeat;
  background-position: 50% 180%;
  padding-left: 5rem;
  padding-top: 2.5rem;
  margin: 2rem;
  text-align: left; }
  .card::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 12px;
    width: 4px;
    height: 41px;
    background: #1698d9;
    transform-origin: center;
    transform: rotate(48deg); }
  .card .card__top {
    color: #666666;
    font-size: 1.6rem; }
  .card .card__top-selected {
    display: none; }
  .card__header {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin: auto; }
  .card__desc {
    font-size: 2.4rem;
    margin-bottom: 1rem; }
  .card__quantity {
    color: #666666;
    font-size: 1.4rem;
    line-height: 1.3; }
  .card__amount {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    color: #ffffff;
    background-color: #1698d9;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .card__amount-weight {
      font-size: 4rem;
      line-height: 2.5rem;
      margin-top: 2rem; }
    .card__amount-kg {
      font-size: 2rem; }

.card-item__link {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center; }
  .card-item__link a {
    color: #1698d9;
    text-decoration: none;
    border-bottom: 1px dashed; }

.card-item__link-selected {
  display: none; }

.card-item-selected .card {
  border: 4px solid #e52e7a; }
  .card-item-selected .card::after {
    background: #e52e7a; }

.card-item-selected .card__amount {
  background-color: #e52e7a; }

.card-item-selected .card__top {
  color: #666666;
  font-size: 1.6rem; }

.card-item-selected .card__top-selected {
  display: none; }

.card-item-selected .card-item__link {
  display: none; }

.card-item-selected .card-item__link-selected {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  height: 2.5rem;
  display: block; }

.hide:hover > .card__top {
  display: none; }

.hide:hover > .card__top-selected {
  display: block;
  color: #e52e7a;
  font-size: 1.6rem; }

.card-item-disabled .card {
  background-image: linear-gradient(rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5)), url(../img/Photo.png);
  border: 4px solid #b3b3b3;
  pointer-events: none;
  color: #b3b3b3; }
  .card-item-disabled .card::after {
    background: #b3b3b3; }

.card-item-disabled .card__amount {
  background-color: #b3b3b3; }

.card-item-disabled .card-item__link {
  display: none; }

.card-item-disabled .card-item__link-disabled {
  color: #ffff66;
  font-size: 1.3rem;
  text-align: center;
  height: 2.5rem;
  display: block; }
